:root {
  --primary: rgb(121, 11, 255);
  --secondary: rgb(83, 28, 115);
  --success: rgb(3, 255, 116);
  --warning: rgb(255, 217, 4);
  --critical: rgb(255, 42, 0);
  --overlay: rgba(30, 30, 30, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
